@media screen and (max-width: 760px) {
  header {
    flex-direction: column;
  }

  main {
    flex-direction: column;
    margin-top: 40px;
  }

  .title2 {
    font-size: 50px;
  }

  .title3 {
    font-size: 50px;
  }

  .title4 {
    font-size: 30px;

    margin: 0px 0 80px 0px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  .img-head {
    display: none;
  }
}
